<div class="container mt-5">
    <h2>Add New Stay</h2>
        <div class="form-group">
            <label for="stayName">Stay Name</label>
            <input type="text" class="form-control" id="stayName" placeholder="Enter stay name" [(ngModel)]="stay_name">
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <select class="form-control" id="destination" [(ngModel)]="destination">
                <option *ngFor="let d of destinations" [value]="d.id">{{d.destination_name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" placeholder="Enter amount" [(ngModel)]="amount_per_night">
        </div>
        <div class="form-group">
            <label for="maxPeople">Max People</label>
            <input type="number" class="form-control" id="maxPeople" placeholder="Enter max people" [(ngModel)]="max_people">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addStay()">Add Stay</button>
        
</div>