<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-start p-4">
        <div class="mb-3">
          <h3>Login Page</h3>

          <label for="" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name=""
            id=""
            [(ngModel)]="username"
            aria-describedby="helpId"
            placeholder=""
          />
        </div>

        <label for=""
          ><div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="password"
              name=""
              id=""
              placeholder=""
            />
          </div>
        </label>
        <button
          type="submit"
          class="btn btn-primary w-50 mb-3"
          (click)="login()"
          
          
        >
          Submit
        </button>
        <br>
     
      
        
      </div>
    </div>
  </div>
</div>
