<div class="container mt-5">
  <div class="text-center">
    <h1>Tour Package Recommendation</h1>

    <p>Explore amazing destinations</p>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card p-4">
        <h4>Customer</h4>

        <a routerLink="/register" class="btn btn-primary mt-2">
          Customer Register
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-4">
        <h4>Provider</h4>

        <a routerLink="/provider-register" class="btn btn-success mt-2">
          Provider Register
        </a>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <a routerLink="/login" class="btn btn-dark"> Login </a>
  </div>
</div>
