<nav class="nav justify-content-center">
  <a class="nav-link" [routerLink]="'/favorite-packages'">Favorites</a>
  <a class="nav-link" [routerLink]="'/customer-booking'">Bookings</a>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let p of packages">
      <div class="card h-100 shadow">
        <img
          *ngIf="p.images.length > 0"
          [src]="'http://127.0.0.1:8000' + p.images[0].image"
          class="card-img-top"
          style="height: 250px; object-fit: cover"
        />

        <div class="card-body">
          <h4>
            {{ p.package_name }}
          </h4>
          <button (click)="addFavorite(p.id)">Fav</button>

          <p>
            {{ p.destination_name }}
          </p>

          <h5>₹ {{ p.amount }}</h5>

          <a [routerLink]="['/package-details', p.id]" class="btn btn-primary">
            View Package
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
